.header__card {
  display: grid;
  margin: 0 0 15px 0;
  padding: 0;
  max-width: 490px;
  max-height: 600px;
}
.header__card:last-child {
  margin: 0;
}

@media screen and (min-width: 475px) {
  .header__card {
    margin: 0 15px 0 0;
  }
  .header__card:last-child {
    margin: 0;
  }
}