.header__menu-toggle {
  display: none;
}

.header__menu-toggle ~ .header__menu  {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear, opacity 0.3s linear;
}
.header__menu-toggle:checked ~ .header__menu {
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 475px) {
  .header__menu-toggle ~ .header__menu  {
    visibility: visible;
    opacity: 1;
  }
}