.category {
  grid-area: category;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  background-color: black;
  width: 100%;
  min-height: 100px;
  padding-left: 30px;
} 

/* .category::-webkit-scrollbar {
  display: none;
} */

@media screen and (min-width: 1200px) {
  .category {
    width: 1200px;
  }
}