.category {
display: flex;
flex-direction: column;
width: 100%; 
background-color #FFFFFF;;
margin: 0 auto;
box-sizing: border-box;
padding-left: 30px;
}

@media screen and (min-width: 1200px) {
  .category {
    max-width: 1200px;
  }
}