.footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  background-color: #FDF9F1;
  padding-left: 30px;
  max-width: 100%;
  margin: 0 auto;

}

@media screen and (min-width: 1200px) {
  .footer {
    max-width: 1200px;
  }
}