.footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  background-color: #FDF9F1;
  padding-left: 30px;
  /* width: 100%; */
}

@media screen and (min-width: 1200px) {
  .footer {
    width: 1200px;
  }
}